# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/modules

/Frontend/logs/
/ebean-backend/logs/
/Frontend/project/project
/ebean-backend/project/project
/Frontend/project/target
/ebean-backend/target
/Frontend/.idea
/ebean-backend/.idea

tmp/
test-result
server.pid
*.eml
/dist/
.cache